<%layout('layout/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <h1>Edit Campground form</h1>
        <form action="/campgrounds/<%= camp.id %>?_method=PATCH" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <label class="form-label"for="title">Title</label>
                <input class="form-control" name="campground[title]" type="text" id="title" value= '<%=camp.title  %> ' required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="loc">Location</label>
                <input class="form-control" name="campground[location]" type="text" id="loc" value = '<%= camp.location %> 'required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="img">Image URL</label>
                <input class="form-control" name="campground[image]" type="text" id="img" value = '<%= camp.image %>'required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Price ($)</span>
                <input name="campground[price]" value = '<%= camp.price%> 'type="text" class="form-control" aria-label="Amount (to the nearest dollar)"required>
                <span class="input-group-text">.00</span>
                <div class="valid-feedback">Looks good!</div>
            </div>
            
            <div class="mb-3">
                <label class="form-label" for="description">Descriptipn</label>
                <textarea class="form-control" name="campground[description]" required type="text" id="description"> <%= camp.description %></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="my-3"><button class="btn btn-info">Update Campground!</button></div>
        </form>
        
        <a href="/campgrounds">All Campgrounds</a>
        </div>
    </div>
